body {
    margin: 0;
    padding: 0%;

}

.header {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    margin: 0;
}

h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    text-align: center;
}

.heading-paragraph {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    text-shadow: 5px 5px 5px black;
}

#donate {
    color: red;
    font-weight: 500;
    text-shadow: 2px 2px 5px white;
}

.s1 {
    display: block;
}

#b1 {
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 0 40px;
    padding-top: 15px;
}

h2 {
    color: gray;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.text {
    text-align: center;
}

.container {
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    margin: 0 200px;
}

.box {
    width: 50%;
    height: 80px;
    background-color: #f3f3f3;
    border-radius: 8px;
    text-align: center;
    margin: 20px 10px;
    padding-top: 50px;
    font-weight: 700;
    color: grey;
}

.new-p {
    font-family: sans-serif;
    font-weight: 400;
}

#hr1 {
    padding: 0 211px;
}

.cl {
    color: #b3b3b3;
    font-weight: 550;
}

.design {
    border: 2px solid orangered;
    color: #ff7b4b;
    background-color: #ffe2d8;
}

.cn2 {
    display: flex;
    margin: 20px;
    padding: 30px 150px;
    height: 350px;
}

.same {
    color: black;
    font-size: 30px;
    display: inline;
    width: 50%;
}

#dbb1 {
    background-color: rgb(196, 156, 235);
    padding: 30px 20px 10px 20px;
    margin: 10px;
}

#dbb2 {
    background-color: rgb(171, 190, 142);
    padding: 30px 20px 10px 20px;
    margin: 10px;
}

#dbb3 {
    background-color: rgb(255, 230, 234);
    padding: 30px 20px 10px 20px;
    margin: 10px;
}

#footer {
    padding-top: 20px;
    color: red;
    font-family: 'Ubuntu', sans-serif;
}

#fb {
    background-color: #080a11;
    margin-bottom: 0%;
}

#ftr {
    color: whitesmoke;
    text-align: center;
    padding-bottom: 20px;
    font-family: sans-serif;
}

#sub-button {
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    margin: 0 200px;
    background-color: rgb(255, 208, 200);
    padding: 60px 50px;
}

#em {
    padding-right: 100px;
    padding-left: 20px;
    background-color: rgb(190, 190, 190);
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-left: 250px;
}

.sbutton {
    background-color: tomato;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}